<div>
	<p id="server1-name">Server 1</p>
	<p id="server1-status">Active</p>
	<button id="server1-edit" (click)="onClick(0)">Edit</button>
</div>
<div>
	<p id="server2-name">Server 2</p>
	<p id="server2-status">InActive</p>
	<button id="server2-edit" (click)="onClick(1)">Edit</button>
</div>
<div>
	<p id="server3-name">Server 3</p>
	<p id="server3-status">InActive</p>
	<button id="server3-edit" (click)="onClick(2)">Edit</button>
</div>
<div>
	<p id="server4-name">Server 4</p>
	<p id="server4-status">Active</p>
	<button id="server4-edit" (click)="onClick(3)">Edit</button>
</div>